.portfolio {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    flex-direction: column;
    align-items: center;

    .title{
        margin: 3rem;
        font-size: 5rem;
    }

    .p1 {
        font-size: var(--all_paragraph);
        text-align: center;
        }
    .projectCard_holder {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;


        @media screen and (min-width: 750px) {
           width: 60rem;
        }

        @media screen and (min-width: 1044px) {
             width: 100%;
        }


    }
     
    .seeMore, seeMore:visited {
        display: flex;
        align-items: center;
        font-size: var(--all_paragraph);
        justify-content: space-between;
        text-decoration: none;
        color: var(--first_color);
        transition: font .3s;

        &:hover {
            font-size: 4rem;
            color: var(--fifth_color);

        }

        p{
            margin-right: 1rem;
        }
    }
}
