@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap');

p {
    display: block;
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

#first{
    font-size: 50px;
    font-weight: bold;
}

#second {
    font-size: 25px;

}